:host {
  #footer {
    color: white;
    border-top: 1px solid white;
    .nav-container {
      border-right: 1px solid white;
      padding: 3rem;
      ul,
      li {
        text-decoration: none;
      }
    }
    .contact-container {
      padding: 3rem;
      .title {
        font-size: 3rem;
        font-weight: 500;
      }
    }

    .ani-grad {
      font-weight: 500;
      font-size: 1rem;
    }
    .footer-copyright {
      border-bottom: none;
      border-left: none;
      border-right: none;
    }
  }
}
