<footer id="footer"
    class="footer">
    <div class="footer__parralax">
        <div class="footer__parralax-trees"></div>
        <div class="footer__parralax-moto"></div>
        <div class="footer__parralax-secondplan"></div>
        <div class="footer__parralax-premierplan"></div>
        <div class="footer__parralax-voiture"></div>
    </div>
    <div class="container">
        <div class="lets-connect">
            <h1 data-aos="zoom-out-down">LET'S CONNECT,<br>
                LET'S BUILD!</h1>
            <img class="long-arrow"
                src="../../../assets/images/long-arrow.png"
                alt=""
                data-aos="zoom-out-down">
            <button class="btn-ani-border"
                data-aos="zoom-out-down">LET'S TALK</button>
        </div>
        <div class="footer-nav">
            <div class="nav-rights"
                data-aos="zoom-out-down">
                <img src="../../../assets/images/8.png"
                    alt=""
                    data-aos="zoom-out-down">
                <span>Innov8</span>
                <p>Corresponding address</p>
                <p>innov8@gmail.com</p>
                <p>© 2024 Innov8</p>
            </div>
            <div class="nav-links"
                data-aos="zoom-out-down">
                <div>
                    <!-- <h3>Services</h3> -->
                    <p>Home</p>
                    <p>About Us</p>
                    <p>Works</p>
                    <p>Services</p>
                </div>
                <div>
                    <!-- <h3>Works</h3> -->
                    <p>Web Development</p>
                    <p>Mobile App Design</p>
                    <p>Cloud Computing</p>
                    <p>Cybersecurity</p>
                </div>
            </div>
        </div>
    </div>
</footer>