:host {
  .footer {
    position: relative;
    color: white;
    background: black;
    margin-top: auto;
    margin-top: 20rem;

    .container {
      padding: 0 3rem;
      .lets-connect {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 0rem;
        border-bottom: 2px solid white;
        margin-bottom: 3rem;
        h1 {
          font-size: 3rem;
          font-weight: 100;
        }
        .long-arrow {
          width: 30vw;
        }
        button {
          height: 80px;
          width: 300px;
          font-weight: 100;
          font-size: 2rem;
        }
      }
      .footer-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        div:first-child {
          img {
            height: 50px;
            filter: invert(100%);
            mix-blend-mode: difference;
            margin-top: -30px;
          }
          span {
            font-size: 2rem;
            font-weight: bolder;
          }
          p {
            margin-top: 20px;
          }
        }
        div:nth-child(2) {
          display: flex;
          div {
            display: flex;
            flex-direction: column;
            margin: 0rem 1rem;

            p {
              margin: 0;
            }
            p:hover {
              cursor: pointer;
              text-decoration: underline;
            }
          }
        }
      }
    }
    @keyframes parralax {
      0% {
        background-position: 260px;
      }
      100% {
        background-position: -10000vw;
      }
    }
    @keyframes moto {
      0% {
        transform: translateY(0) rotate(0);
      }
      5% {
        transform: translateY(0) rotate(-5deg);
      }
      25% {
        transform: translateY(60px) rotate(-20deg);
      }
      49% {
        transform: translateY(0) rotate(-1deg);
      }
      51% {
        transform: translateY(0) rotate(1deg);
      }
      75% {
        transform: translateY(60px) rotate(20deg);
      }
      80% {
        transform: translateY(60px) rotate(0deg);
      }
      98% {
        transform: translateY(0) rotate(0);
      }
    }
    @keyframes voiture {
      0% {
        transform: rotate(0);
      }
      25% {
        transform: rotate(-5deg);
      }
      50% {
        transform: rotate(0);
      }
      75% {
        transform: rotate(5deg);
      }
      100% {
        transform: rotate(0);
      }
    }
    &__parralax {
      position: absolute;
      left: 0;
      top: -300px;
      height: 300px;
      width: 100%;
      overflow: hidden;
      &-premierplan {
        background-position: 260px;
      }
      &-trees,
      &-premierplan,
      &-secondplan {
        position: absolute;
        inset: 0;
        background-repeat: repeat-x;
        background-position-y: 100% !important;
        animation: parralax 600s linear infinite;
      }
      &-moto {
        position: absolute;
        bottom: 80px;
        left: 50%;
        margin-left: -250px;
        height: 200px;
        width: 150px;
        background: url(https://i.ibb.co/JCGfFJd/moto-net.gif);
        background-repeat: no-repeat;
        transform-origin: 50% 80%;
        animation: moto 5s linear infinite;
      }
      &-voiture {
        position: absolute;
        bottom: 10px;
        left: 50%;
        margin-left: 250px;
        height: 114px;
        width: 206px;
        background: url(https://i.ibb.co/0Qhp4DN/voiture-fumee.gif);
        background-repeat: no-repeat;
        animation: voiture 1s linear infinite;
      }
      &-trees {
        background-image: url(https://i.ibb.co/nQM4PGJ/arbres.png);
        bottom: -60px;
        animation-duration: 1000s;
      }
      &-premierplan {
        background-image: url(https://i.ibb.co/RQhDWbk/premierplanv3.png);
        animation-duration: 500s;
        //background-position-y: 27px !important;
      }
      &-secondplan {
        background-image: url(https://i.ibb.co/J3TjC4W/second-plan.png);
        animation-duration: 600s;
      }
    }
  }
}
