<footer id="footer">
    <div class="row">
        <div class="col-md-6 col-12 nav-container">
            <div class="py-5">
                <div class="row p-5">
                    <h1 class="logo col-4">Velocity</h1>
                    <p class="col-8">here we can give aor contact,
                        like some number
                        or any relevant mail address</p>
                </div>
                <div class="social-icons px-5">
                    <img src="../../../assets/images/icons/Frame 34.svg"
                        alt="">
                    <img src="../../../assets/images/icons/mdi_linkedin.svg"
                        alt="">
                    <img src="../../../assets/images/icons/Frame 36.svg"
                        alt="">
                </div>
            </div>
            <div class="row text-bold">
                <div class="col-md-4 col-12">
                    <h3>Company</h3>
                    <ul>
                        <li><a href="">About</a></li>
                        <li><a href="">Experts</a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-12">
                    <h3>Company</h3>
                    <ul>
                        <li>Course</li>
                        <li>SignIn</li>
                        <li>Become Affiliate</li>
                        <li>Advertise with us</li>
                    </ul>
                </div>
                <div class="col-md-4 col-12">
                    <h3>Help & Feedback</h3>
                    <ul>
                        <li>Help Me</li>
                        <li>Feedback</li>
                        <li>Report Bug/Issues</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12 contact-container">
            <h1 class="ani-grad title">Connect To Us</h1>
            <div class="input-container">
                <input type="text"
                    placeholder="Enter Your Email" />
                <img src="../../../assets/images/icons/arrow-right.svg"
                    alt="">
            </div>
            <img src="../../../assets/images/Saly-44.svg"
                alt="">
        </div>
    </div>
    <div class="row px-5 p-2 animated-box footer-copyright">
        <div class="col-6 d-flex justify-content-between">
            <span>Copyright 2024 Velocity</span>
            <span>Privacy</span>
            <span>Terms & Conditions</span>
            <span>Permissions</span>
        </div>
        <div class="ani-grad col-6 d-flex justify-content-end">
            Back To Top ^
        </div>
    </div>
</footer>