<div class="page-container">
    <section class="hero">
        <div class="hero-title">
            <h1>Strategy</h1>
            <h1 class="ani-grad">Consulting</h1>
        </div>
        <div class="hero-text">Collaboration and data-driven insights to position toward long term goals. Design and
            technology are the
            future of business. And for Innov8, the future is now. Our next generation strategy consulting accesses
            deeper insights earlier, reduces complexities, anticipates what’s around the next curve, and effectively
            prepares organizations for change. Are you interested in understanding what your customer experience looks
            like for the future?
        </div>
    </section>
    <section class="card-container">
        <div class="card"
            *ngFor="let card of cards">
            <i [class]="card.icon"></i>
            <h3>{{ card.title }}</h3>
            <p>{{ card.description }}</p>
        </div>
    </section>
</div>