<div class="header-container">
    <header class="header">
        <nav class="navbar">
            <div class="logo">
                <img src="../../../assets/images/8.png"
                    alt="">
                <div class="title">
                    <span> Web/App</span>
                    <span>SEO</span>
                    <span>Marketing</span>
                </div>
            </div>
            <ul class="nav-links">
                <li>
                    <a href="#home">Home</a>
                </li>
                <li>
                    <a href="#about">About</a>
                </li>
                <li>
                    <a href="#services">Services</a>
                </li>
                <li>
                    <a href="#contact">Contact</a>
                </li>
            </ul>
            <button>Contact</button>
        </nav>
    </header>
</div>