<header class="header">
    <div class="logo"
        routerLink="/">
        <img src="../../../assets/images/8.png"
            alt=""
            routerLink="/home">
        Innov8
    </div>
    <ul class="nav-links">
        <li *ngFor="let link of navbarLinks"
            [class.ani-grad]="isActive(link.section)">
            <a (click)="scrollToSection(link.section)">{{ link.label }}
                <div class="underline"
                    *ngIf="isActive(link.section)"></div>
            </a>
        </li>
    </ul>
    <button class="btn-ani-border">Contact</button>
    <div class="menu-icon"
        (click)="toggleMenu()">☰</div>
    <div class="menu"
        [ngClass]="{ 'open': isMenuOpen }">
        <div class="close-btn"
            (click)="closeMenu()">✖</div>
        <a *ngFor="let link of navbarLinks"
            (click)="scrollToSection(link.section); closeMenu()">{{ link.label }}</a>
        <button class="btn-ani-border"
            (click)="closeMenu()">Contact</button>
    </div>
</header>