<div id="services">
    <div class="marquee-container">
        <h1 class="moving-heading-1">
            <marquee direction="right"
                scrollamount="5">
                <span>our services</span>&nbsp;&nbsp;&nbsp;
                <span>our services</span>&nbsp;&nbsp;&nbsp;
                <span>our services</span>&nbsp;&nbsp;&nbsp;
                <span>our services</span>&nbsp;&nbsp;&nbsp;
            </marquee>
        </h1>
        <h1 class="moving-heading-2">
            <marquee scrollamount="20">
                <span>our services</span>&nbsp;&nbsp;&nbsp;
                <span>our services</span>&nbsp;&nbsp;&nbsp;
                <span>our services</span>&nbsp;&nbsp;&nbsp;
                <span>our services</span>&nbsp;&nbsp;&nbsp;
            </marquee>
        </h1>
    </div>

    <div class="service-container">
        <div *ngFor="let service of services"
            class="grad-box m-4"
            [routerLink]="service.routerLink">
            <div class="service service-card">
                <h2>{{service.title}}</h2>
                <p>{{service.description}}</p>
            </div>
        </div>
    </div>
</div>