<div id="services">
    <div class="marquee-container">
        <h1 class="moving-heading-1">
            <marquee direction="right"
                scrollamount="10">our services</marquee>
        </h1>
        <h1 class="moving-heading-2">
            <marquee scrollamount="10">our services</marquee>
        </h1>
    </div>

    <div class="service-container">
        <div *ngFor="let service of services"
            class="service animated-box in"
            [routerLink]="service.routerLink">
            <h2>{{service.title}}</h2>
            <p>{{service.description}}</p>
        </div>
    </div>
</div>