:host {
    :host {
    body{
  background: #160e44;
}
ul {
  top: 100px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 10px;
  z-index: 100;
}
ul li{
  list-style-type: none;
  margin: 10px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  z-index: 200;
}
ul li a{
  position: relative;
  display: inline-block;
  color: #fff;
  padding: 15px 20px;
  line-height: 1rem;
  border-radius: 10px;
  z-index: 1000;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

ul li a ion-icon {
  /* margin-top: 5px; */
  font-size: 2rem;
  pointer-events: none;
  opacity: 0.3;
  transition: 0.3s;
}
#marker {
  position: absolute;
  top: 0;
  transition: 0.5s;
  z-index: 1;
}
#marker::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  opacity: 0;
  transition: 0.5s;
}
ul li:hover ion-icon {
  opacity: 1;
}
ul li:nth-child(1):hover ~ #marker::before {
  transform: translateX(-331%);
  background: rgba(214, 53, 214, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(214, 53, 214, 0.8), 0 0 30px rgba(214, 53, 214, 0.8),
    0 0 45px rgba(214, 53, 214, 0.8), 0 0 60px rgba(214, 53, 214, 0.8);
  opacity: 1;
  transition: 0.5s;
}
ul li:nth-child(2):hover ~ #marker::before {
  transform: translateX(-144%);
  background: rgba(255, 235, 53, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(255, 235, 53, 0.8), 0 0 30px rgba(255, 235, 53, 0.8),
    0 0 45px rgba(255, 235, 53, 0.8), 0 0 60px rgba(255, 235, 53, 0.8);
  opacity: 1;
  transition: 0.5s;
}
ul li:nth-child(3):hover ~ #marker::before {
  transform: translateX(43%);
  background: rgba(51, 194, 82, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(51, 194, 82, 0.8), 0 0 30px rgba(51, 194, 82, 0.8),
    0 0 45px rgba(51, 194, 82, 0.8), 0 0 60px rgba(51, 194, 82, 0.8);
  opacity: 1;
  transition: 0.5s;
}
ul li:nth-child(4):hover ~ #marker::before {
  transform: translateX(231%);
  background: rgba(20, 163, 199, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(20, 163, 199, 0.8), 0 0 30px rgba(20, 163, 199, 0.8),
    0 0 45px rgba(20, 163, 199, 0.8), 0 0 60px rgba(20, 163, 199, 0.8);
  opacity: 1;
  transition: 0.5s;
}

}
}