<div id="works">
    <h1 (click)="fetchData()"
        class="heading">Our latest works</h1>

    <div class="slider-container">
        <div class="carousel">
            <div class="slider">
                <div class="box"
                    *ngFor="let item of data; let i = index"
                    [ngClass]="getBoxClass(i)">
                    <img [src]="item.url"
                        alt="">
                </div>
            </div>
            <div class="dots-container">
                <div *ngFor="let dot of data; let i = index"
                    [ngClass]="{'active': currentIndex === i}"
                    class="dot"
                    (click)="onDotClick(i)"></div>
            </div>
        </div>
    </div>

</div>