<div id="choose-us">
    <div class="heading title">
        Why choose us ?
    </div>

    <div class="box0">
        <div class="box1">
            <div class="box box2 grad-box">
                <div class="box-card">
                    Tailored <br>Solutions
                </div>
            </div>
            <div class="box box3 grad-box">
                <div class="box-card">Impactful <br>Outcomes</div>
            </div>
        </div>
        <div class="box4">
            <div class="box box5 grad-box">
                <div class="box-card">
                    Always ahead with expert insights
                </div>
            </div>
            <div class="box6">
                <div class="box7">
                    <div class="box box8 grad-box">
                        <div class="box-card">100% Client Satisfaction</div>
                    </div>
                    <div class="box box9 grad-box">
                        <div class="box-card">Efficient, No-Nonsense <br>Execution</div>
                    </div>
                </div>
                <div class="box box10 grad-box">
                    <div class="box-card">Long-Term <br>Partnership</div>
                </div>
            </div>
        </div>
    </div>

    <button class="book-btn">BOOK A CALL <img src="../../../assets/images/icons/arrow-10.svg"
            alt=""></button>
</div>