<div id="choose-us">
    <div class="heading title">
        Why choose us ?
    </div>

    <div class="box0">
        <div class="box1">
            <div class="box box2 animated-box in">Tailored <br>Solutions</div>
            <div class="box box3 animated-box in">Impactful <br>Outcomes</div>
        </div>
        <div class="box4">
            <div class="box box5 animated-box in">Always ahead with expert insights</div>
            <div class="box6">
                <div class="box7">
                    <div class="box box8 animated-box in">100% Client Satisfaction</div>
                    <div class="box box9 animated-box in">Efficient, No-Nonsense <br>Execution</div>
                </div>
                <div class="box box10 animated-box in">Long-Term <br>Partnership</div>
            </div>
        </div>
    </div>

    <button class="book-btn">BOOK A CALL <img src="../../../assets/images/icons/arrow-10.svg"
            alt=""></button>
</div>