<header id="hero">
    <img class="img-boat" src="../../../assets/images/boat.svg" alt="">
    <app-wave></app-wave>
    <div class="title"
        data-aos="zoom-out-down">
        <h1>Transforming <span class="ani-grad">IDEAS</span> into Reality</h1>
        <h2>Unlocking potential with</h2>
        <h1 class="typing-text">{{currentText}}|</h1>
    </div>
    <div class="hero-icons">
        <img src="../../../assets/images/spiral.svg"
            alt="">
        <img src="../../../assets/images/hero-down.svg"
            alt=""
            (click)="scrollDown()">
    </div>
</header>