<header class="header">
    <div class="circle c1"></div>
    <div class="circle c2"></div>

    <h1 class="logo">
        <div class="arrow"></div>
    </h1>

    <h2 class="slogan">
        Transforming Ideas into Reality.
        <span class="ps">Unlocking Potential with Technology</span>
    </h2>

    <!-- <div class="btns">
        <button class="btn-primary">Explore</button>
        <button class="btn-accent">Contact Us</button>
    </div> -->

    <div class="hill"></div>
</header>

<!-- <blockquote class="info">
    Forked from <a href="https://stripe.com/atlas">Introducing Stripe Atlas</a>
</blockquote> -->