:host {
  header {
    background-color: black;
    color: white;
    height: 100vh;
    padding-top: 30vh;
    background: radial-gradient(circle, #609af0 -100%, black 45%);
    .title {
      width: auto;
      text-align: center;
      color: #e3e4e6;
      margin: 10px;
      h1 {
        font-size: 3rem;
        font-weight: 200;
        margin-bottom: 1rem;
        span {
          font-size: 3rem;
          font-weight: 700;
          // color: #aa77ff;
        }
      }
      h2 {
        font-size: 1.5rem;
        font-weight: 200;
        margin-bottom: 1rem;
      }
      .typing-text {
        font-size: 3rem;
        font-weight: 700;
        color: white;
      }
    }
    .hero-icons {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      z-index: 500 !important;
      img:first-child {
        padding-left: 200px;
      }
      img:nth-child(2) {
        cursor: pointer;
        height: 100px;
        z-index: 2;
      }
      img:hover {
        transform: scale(1.1);
      }
    }
    .img-boat {
      position: absolute;
      top: 70%;
      left: 50%;
      height: 80%;
      transform: translate(-50%, -50%);
      z-index: 0;
    }
    app-wave {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
  }
}
