<div class="page-container">
    <section class="hero">
        <div class="hero-title">
            <h1>Web3 &</h1>
            <h1 class="ani-grad">Blockchain</h1>
        </div>
        <div class="hero-text">The combination of cryptographic keys, a peer-to-peer network, and a digital ledger is
            what makes blockchain technology
            represent the future. Public ledger distribution provides high security, immutability, and provenance,
            allowing those
            with a vision to guide our society to the next level. We support our clients on their web3 & blockchain
            projects with
            education and co-creation. </div>
    </section>
    <section class="card-container">
        <div class="card"
            *ngFor="let card of cards">
            <i [class]="card.icon"></i>
            <h3>{{ card.title }}</h3>
            <p>{{ card.description }}</p>
        </div>
    </section>
</div>