<div id="about">
    <div class="para">
        <div data-aos="zoom-out-down">
            At Innov8, we believe in the power of design and technology to shape the future of businesses. Our journey
            began
            with a simple yet profound vision: to seamlessly integrate creativity and strategy into every aspect of our
            work, fostering meaningful connections between brands and their audiences.
        </div>
        <div data-aos="zoom-out-down">
            Our mission is to redefine industry standards by providing innovative solutions that not only meet the needs
            of
            today but anticipate the challenges of tomorrow. We strive to empower businesses to thrive in an
            ever-evolving
            digital landscape through our expertise in design, technology, and strategy consulting.
            <div>
                <img src="../../../assets/images/arrow.png"
                    alt="">
                Get in Touch
            </div>
        </div>
    </div>
    <div class="heading"
        data-aos="flip-up">
        Why choose us ?
    </div>
    <div class="choose-us">
        <div class="cards">
            <div class="card"
                *ngFor="let card of cards"
                data-aos="zoom-out-down">
                <h2>{{card.title}}</h2>
                <p>{{card.content}}</p>
            </div>
        </div>
    </div>
    <div class="heading"
        data-aos="zoom-out-down">
        Our pillar of excellence
    </div>
    <div class="pillars">
        <div class="pillar"
            *ngFor="let pillar of pillars"
            data-aos="zoom-out-down">
            {{pillar.name}}
        </div>
    </div>
    <div class="talk"
        data-aos="zoom-out-down">
        <div>
            <h1>Let’s bring your vision to life</h1>
            <div class="arrow-btn">
                <img src="../../../assets/images/long-arrow.png"
                    alt="">
                <button class="btn-ani-border">LET'S TALK</button>
            </div>
        </div>
        <div class="talk-text">
            Whether you're a startup looking to make your mark or an established enterprise seeking to innovate, we're
            here to help.
            Let's embark on a journey together to transform your ideas into reality and create experiences that
            leave a lasting impression.
        </div>
    </div>
</div>