:host {
  #about {
    padding: 10rem 1rem;
    color: white;
    background-color: #2e2e2e;
    .para {
      display: flex;
      justify-content: space-evenly;
      .para-1 {
        padding: 0 1rem;
        font-size: 1.5rem;
      }
      .para-2 {
        padding: 1rem;
        font-size: 2rem;

        div {
          margin-top: 20px;
          img {
            margin-right: 10px;
          }
        }
        div:hover {
          cursor: pointer;
          border-bottom: 2px solid white;
        }
      }
    }

    .cards {
      display: flex;
      margin: 3rem 0;
      .card {
        background-color: #2e2e2e;
        color: white;
        border: 1px solid white;
        border-radius: 10px;
        padding: 20px;
        margin: 20px;
        transition: 0.5s;
        text-align: center;
      }
      .card:nth-child(1) {
        background: rgba(238, 174, 202, 0.2);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
      }

      .card:nth-child(2) {
        background: rgba(135, 206, 250, 0.2);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
      }

      .card:nth-child(3) {
        background: rgba(173, 216, 230, 0.2);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
      }
    }
    .pillars {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      font-weight: bold;
      margin: 3rem 0;
      .pillar {
        background-color: #ffffff; /* Light background color */
        color: #333333; /* Dark text color */
        text-align: center;
        padding: 20px;
        margin: 15px;
        border-radius: 10px; /* Rounded corners */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
        transition: transform 0.2s, box-shadow 0.2s; /* Smooth hover effects */
      }
    }

    .talk {
      display: flex;
      justify-content: space-between;
      div {
        padding: 2rem;
        .arrow-btn {
          // display: flex;
          // justify-content: space-between;
          padding: 2rem 0 0 0;
          img {
            width: 50%;
          }
          button {
            margin-left: 1rem;
          }
        }
      }
      .talk-text {
        padding: 2rem;
        // width: 500px;
      }
    }
    @media (max-width: 768px) {
      .para {
        display: block;
        text-align: center;
      }
      .cards {
        display: block;
        margin: 1rem 0;
      }
      .talk {
        display: block;
        text-align: center;
        div {
          .talk-text {
            // width: 90vw;
          }
        }
      }
    }
  }
}
