<div class="page-container">
    <section class="hero">
        <div class="hero-title">
            <h1>Artificial</h1>
            <h1 class="ani-grad">Intelligence</h1>
        </div>
        <div class="hero-text">Leveraging Data and AI to Shape the Future of BusinessIn today's rapidly evolving
            landscape, Artificial
            Intelligence (AI) is not just an add-on but a necessity for achieving long-term business goals. Innov8's
            Artificial Intelligence Consulting service is designed to help organizations harness the power of AI to gain
            deeper insights, automate processes, and drive innovation. Are you ready to unlock the potential of AI in
            your business?
        </div>
    </section>
    <section class="card-container">
        <div class="card"
            *ngFor="let card of cards">
            <i [class]="card.icon"></i>
            <h3>{{ card.title }}</h3>
            <p>{{ card.description }}</p>
        </div>
    </section>
</div>