<div class="heading">Services</div>
<div class="sub-heading">
    From web development and mobile app design to cloud computing and cybersecurity, we offer a comprehensive range
    of
    services to meet your IT needs.
</div>
<div class="container">
    <div class="box">
        <span></span>
        <div class="content">
            <h2>Platform UI/UX</h2>
            <p>Visualizing the most powerful representation of your brand through compelling creative.</p>
            <a routerLink="/ui-ux">Read More</a>
        </div>
    </div>
    <div class="box">
        <span></span>
        <div class="content">
            <h2>Strategy Consulting</h2>
            <p>Collaborating with business leaders to define, create, and launch inspiring initiatives.</p>
            <a routerLink="/consulting">Read More</a>
        </div>
    </div>
    <div class="box">
        <span></span>
        <div class="content">
            <h2>Branding & Design</h2>
            <p>Building trust by communicating an authentic character to capture hearts and minds.</p>
            <a routerLink="/design">Read More</a>
        </div>
    </div>
    <div class="box">
        <span></span>
        <div class="content">
            <h2>Application Development</h2>
            <p>Redefining modern mobile applications with industry-leading design and engineering.</p>
            <a routerLink="/development">Read More</a>
        </div>
    </div>
    <div class="box">
        <span></span>
        <div class="content">
            <h2>Web3 & Blockchain</h2>
            <p>Empowering digital interactions by leveraging blockchain technologies for secure and transparent operations.</p>
            <a routerLink="/web3">Read More</a>
        </div>
    </div>
    <div class="box">
        <span></span>
        <div class="content">
            <h2>Artificial Intelligence</h2>
            <p>Unlocking the potential of machine learning decision-making through intelligent algorithms and predictive analytics.</p>
            <a routerLink="/ai">Read More</a>
        </div>
    </div>
</div>