/* app.component.css */
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  min-height: 100vh;
  width: 100vw;
}
