<div class="page-container">
    <section class="hero">
        <div class="hero-title">
            <h1>Web</h1>
            <h1 class="ani-grad">Design</h1>
        </div>
        <div class="hero-text">Authentic emotional connection is our guide to a brand that resonates. Creativity and
            strategy converge within the idiosyncrasies of a meaningful rally point. Innov8's Consultancy and Design
            Studio converge to produce your business' creation, extension and evolution to connect with people. Are you
            looking to grow your brand strategically by creating value for your customers?
        </div>
    </section>
    <section class="card-container">
        <div class="card"
            *ngFor="let card of cards">
            <i [class]="card.icon"></i>
            <h3>{{ card.title }}</h3>
            <p>{{ card.description }}</p>
        </div>
    </section>
</div>