<div id="references">
    <div class="heading">
        <span class="ani-grad">References</span> of colleagues <br> and clients
    </div>

    <div class="profile-container">
        <div class="profile"
            *ngFor="let profile of profiles">
            <img [src]="profile.profile_picture"
                [alt]="profile.name"
                class="profile-image">
            <div class="profile-name">{{ profile.name }}</div>
        </div>
    </div>
    <!-- 1 -->
    <hr>
    <div class="row p-2">
        <div class="col-md-6 col-12 p-5">
            <div class="grad-box">
                <div class="card">
                    <div class="card-body">
                        <img [src]="profiles[0].profile_picture"
                            class="mb-3 border-50 profile-icon"
                            alt="Icon">
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, cumque? Quo
                            sunt
                            provident debitis ad magnam tenetur, sapiente consequatur molestiae nostrum doloremque nam
                            eos
                            mollitia culpa quam ipsam veritatis voluptates?</p>
                        <h5 class="card-title">Laura Adams</h5>
                        <p class="card-subtitle text-muted">SDE Google</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12 p-5 d-flex align-items-center">
            <div>
                <div>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam autem dignissimos pariatur
                    quisquam expedita debitis, cupiditate id illo sapiente reiciendis quos animi! Culpa quibusdam
                    officia
                    magnam
                    a, ratione dolore distinctio!
                </div>
                <div class="d-flex justify-content-end align-items-center mt-3">
                    <img [src]="profiles[0].profile_picture"
                        class="border-50 profile-icon"
                        alt="Icon">
                    <div class="mx-3">
                        <h5 class="card-title">Laura Adams</h5>
                        <p class="card-subtitle">SDE Google</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- 2 -->
    <hr>
    <div class="row p-2">
        <div class="col-md-6 col-12 p-5 d-flex align-items-center">
            <div>
                <div>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam autem dignissimos pariatur
                    quisquam expedita debitis, cupiditate id illo sapiente reiciendis quos animi! Culpa quibusdam
                    officia
                    magnam
                    a, ratione dolore distinctio!
                </div>
                <div class="d-flex justify-content-end align-items-center mt-3">
                    <img [src]="profiles[0].profile_picture"
                        class="border-50 profile-icon"
                        alt="Icon">
                    <div class="mx-3">
                        <h5 class="card-title">Laura Adams</h5>
                        <p class="card-subtitle">SDE Google</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-6 col-12 p-5">
            <div class="grad-box">
                <div class="card">
                    <div class="card-body">
                        <img [src]="profiles[0].profile_picture"
                            class="mb-3 border-50 profile-icon"
                            alt="Icon">
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, cumque? Quo
                            sunt
                            provident debitis ad magnam tenetur, sapiente consequatur molestiae nostrum doloremque nam
                            eos
                            mollitia culpa quam ipsam veritatis voluptates?</p>
                        <h5 class="card-title">Laura Adams</h5>
                        <p class="card-subtitle text-muted">SDE Google</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <hr>
    <div class="row p-2">
        <div class="col-md-6 col-12 p-5 d-flex align-items-center">
            <div class="row justify-content gray-card">
                <div>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam autem dignissimos pariatur
                    quisquam expedita debitis, cupiditate id illo sapiente reiciendis quos animi! Culpa quibusdam
                    officia
                    magnam
                    a, ratione dolore distinctio!
                </div>
                <div class="d-flex justify-content-center align-items-center mt-3">
                    <img [src]="profiles[0].profile_picture"
                        class="border-50 profile-icon"
                        alt="Icon">
                    <div class="mx-3">
                        <h5 class="card-title">Laura Adams</h5>
                        <p class="card-subtitle">SDE Google</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="vertical-hr"></div>
        <!-- <div class="vertical-hr col"></div> -->
        <div class="col-md-6 col-12 p-5 d-flex align-items-center">
            <div class="row justify-content-center">
                <div>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam autem dignissimos pariatur
                    quisquam expedita debitis, cupiditate id illo sapiente reiciendis quos animi! Culpa quibusdam
                    officia
                    magnam
                    a, ratione dolore distinctio!
                </div>
                <div class="d-flex justify-content-center align-items-center mt-3">
                    <img [src]="profiles[0].profile_picture"
                        class="border-50 profile-icon"
                        alt="Icon">
                    <div class="mx-3">
                        <h5 class="card-title">Laura Adams</h5>
                        <p class="card-subtitle">SDE Google</p>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>