@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false; }

@property --glowColor {
  syntax: "<color>";
  initial-value: #2bc3bb; }

@keyframes rotate {
  0% {
    --angle: 0deg;
    --glowColor: #2bc3bb; }
  100% {
    --angle: 360deg;
    --glowColor: #2bc3bb; } }

.container-live-glow {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(at center, #242625 25%, #0a2a27 90%, #444 130%);
  font-family: system-ui;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px; }

.btn-live-glow {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  border: none;
  background: none;
  position: relative;
  padding: 1px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  transform: translate3d(0, 0, 0); }
  .btn-live-glow:after, .btn-live-glow:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: calc(100px + 1.5px);
    background-size: 100% 100%;
    background-position: 0px 0px;
    background-image: conic-gradient(from var(--angle) at 50% 50%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 33%, var(--glowColor) 50%, rgba(0, 0, 0, 0) 66%, rgba(0, 0, 0, 0) 100%);
    animation: rotate 2s infinite linear; }
  .btn-live-glow:before {
    animation: rotate 2s infinite linear;
    filter: blur(20px); }
  .btn-live-glow .btn-live-glowInner {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 8px 20px;
    border-radius: 100px;
    color: #2bc3bb;
    font-weight: 500;
    font-size: 18px;
    z-index: 1;
    transition: all .18s ease;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(40px);
    backface-visibility: hidden; }
  .btn-live-glow:hover .btn-live-glowInner {
    background: rgba(88, 221, 147, 0.1);
    color: #adeeca; }
  .btn-live-glow:active {
    transform: scale(0.95); }