<div class="page-container">
    <section class="hero">
        <div class="hero-title">
            <h1>Platform</h1>
            <h1 class="ani-grad">UX/UI</h1>
        </div>
        <div class="hero-text">Visual perception principles to let our minds navigate the chaotic world and make
            meaningful conclusions. Changes in
            design standards and new technology requirements can have a major impact on businesses. Innov8's Design
            Studio provides
            industrial-strength aesthetics to keep up with the latest developments in branding, user experience, and
            more. Are you
            looking to put a closer eye on your user experience and visual identity? </div>
    </section>
    <section class="card-container">
        <div class="card"
            *ngFor="let card of cards">
            <i [class]="card.icon"></i>
            <h3>{{ card.title }}</h3>
            <p>{{ card.description }}</p>
        </div>
    </section>
</div>