<div class="page-container">
    <section class="hero">
        <div class="hero-title">
            <h1>App/Web</h1>
            <h1 class="ani-grad">Development</h1>
        </div>
        <div class="hero-text">Seamless digital application design to simplify our everyday processes. With human
            insight, design-led technological innovation, and enterprise-wide solutions, Innov8's Engineering Team will
            work alongside you to help you find answers and solve for the complexity of each challenge, from the office
            to the end-user. Do you want to provide your customers and/or employees with value at their finger tips?
        </div>
    </section>
    <section class="card-container">
        <div class="card"
            *ngFor="let card of cards">
            <i [class]="card.icon"></i>
            <h3>{{ card.title }}</h3>
            <p>{{ card.description }}</p>
        </div>
    </section>
</div>